// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box; //not inherited
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem= 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; //8px
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300; //thinner gives more luxury feel
  line-height: 1.6;
}

.container {
  display: grid;

  // used vw because if we decrease the viewport width in the horizontal direction, it decrease the row height (Design is responsive in the horizontal direction).
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content); //auto also adapts to the content

  //1140px/8 = ~140px
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); //auto also adapts to the content

    // always name columns as the names don't change but the numbers do if you remove a column
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    // every implicit row will automatically be a min-content/auto
    //subtract sidebar height by 100vh
    grid-template-rows: 6rem calc(100vh - 6rem); //auto also adapts to the content
  }
}
