.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  //creating an overlay for the image
  background-image: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)), url(/img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr; //works because grid container has a defined height (80vh)
  row-gap: 1.5rem;

  // grid-template-columns: max-content; //not essential justify-content: center; centers it
  justify-content: center;

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  .btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    // these are going to be grid items, as they're inside seenon-text
    &::before,
    &::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-items: center; //align horizontally across grid cells

    img {
      height: 2.5rem;
      filter: brightness(70%); //make image darker
    }
  }
}
